<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    </header>
    <nav>
        <div class="nav__brand">
            <h4>Hunger App</h4>
        </div>
        <button class="menu-toggle">
            <input type="button">
            <span></span><span></span><span></span>
        </button>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/refririfwan" target="_blank">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Restaurant Apps</h1>
            <p class="hero__tagline">Hallo Hungers! Silahkan pilih menu Favorite anda</p>
        </div>
    </div>

    <main id="maincontent">
        <section class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurant</h1>
                <div class="posts">
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
                            alt="Bring Your Phone Cafe">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Medan |<a href="#" class="post-item__date__author"> Rating
                                    4.6</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Bring Your Phone Cafe</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Run The Gun">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Bali |<a href="#" class="post-item__date__author"> Rating
                                    4.6</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Run The Gun</a></h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29"
                            alt="Pangsit Express">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Ternate | <a href="#" class="post-item__date__author">Rating
                                    4.8</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Pangsit Express</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="Ducky Duck">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Malang | <a href="#" class="post-item__date__author">Rating
                                    4.7</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Ducky Duck</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="Kefein">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Bali | <a href="#" class="post-item__date__author">Rating
                                    3.8</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Kafein</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="Makan mudah">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Malang | <a href="#" class="post-item__date__author">Rating
                                    4.6</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Makan mudah</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32" alt="Saya Suka">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Surabaya | <a href="#"
                                    class="post-item__date__author">Rating
                                    3.6</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Saya Suka</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45" alt="Gigitan Cepat">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Aceh | <a href="#" class="post-item__date__author">Rating
                                    4</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Gigitan Cepat</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item__thumbnail"
                            src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="Fairy Cafe">
                        <div class="post-item__content">
                            <p class="post-item__date">Kota Malang | <a href="#" class="post-item__date__author">Rating
                                    3.9</a>
                            </p>
                            <h1 class="post-item__title"><a href="#">Fairy Cafe</a>
                            </h1>
                            <p class="post-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi,
                                fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h4>Copy Right &copy 2021 - Hunger App</h4>
    </footer>
</body>

</html>