* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar */

nav {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: cornsilk;

}

nav ul {
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
}

nav ul li a {
    color: cornsilk;
    text-decoration: none;
    font-weight: 400;
}

nav .nav__brand {
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-right: 50%;
}

nav ul li a:hover {
    color: cornsilk;
    font-weight: 700;
}

/* Jumbotron */
.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_2.jpg");
    background-position: center;
    background-color: transparent;
    margin-top: -50px;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: red;
    font-weight: 400;
    font-size: 36px;
}

.hero__tagline {
    color: red;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 400;
}

/* main */
main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
 * headline
 */

.headline__content {
    width: 100%;
    padding: 16px 32px;
}

.headline__title {
    font-size: 32px;
    font-weight: 500;
}

.headline__description {
    font-size: 16px;
    margin-top: 12px;
}

.headline__button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    transition: opacity 0.3s;
}

.headline__button:hover {
    opacity: 0.8;
}

/*
 * latest
 */

.latest {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.latest__label {
    font-size: 32px;
    font-weight: lighter;
}

.latest__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.posts {
    margin: 32px auto auto;
    text-align: left;
    width: 100%;
    display: flex;
}

/*
 * post item
 */

.post-item {
    margin: 16px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.post-item__content {
    padding: 16px 32px 32px 32px;
}

.post-item__thumbnail {
    width: 100%;
}

.post-item__date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.post-item__date__author {
    color: red;
    text-decoration: none;
}

.post-item__title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.post-item__title:hover {
    opacity: 0.5;
}

.post-item__title a {
    text-decoration: none;
    color: inherit;
}

.post-item__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
}

/*
 * footer
 */

footer {
    background-color: #2c3e50;
    padding: 2em;
    width: 95.3%;
    text-align: center;
}

footer h4 {
    color: cornsilk;
}